picom &
udiskie -t &

#reassign keys to customer keyboard
# xmodmap ~/.Xmodmap
setxkbmap latam &
mpd &
#fish wallpaper.fish &

xset s off

# varables para vifm
#set -gx PATH $PATH ~/.config/vifm/vifmrun
#set -gx PATH $PATH ~/.config/vifm/vifmimg
